<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Authentificacion</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="/home"> Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="/precios">Precios</a>
      </li>

      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="/protegida">Protegida</a>
      </li>
     
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>